<nav>
    <ul>
    <li id="to-left">
        <p><a href="/"> Home 🏠 </a></p>
    </li>
    {{#if logIn}}
        <li id="to-right">
        <form action="/logout" method="POST">
            <input type="submit" value="Log out">
        </form>
        </li>
    {{else}}
        <li id="to-right">
        <a href="/signup">Sign up</a> <span> | </span>
        <a href="/login">Log in</a>
        </li>
    {{/if}}
    </ul>
</nav>