<form action="/" method="post">
    <label for="username">Username</label>
    <input type="text" name="username">
    <label for="passwordHash">Password</label>
    <input type="text" name="passwordHash">
    <button type="submit">Submit</button>
</form>